:root {
  --primary: #fd377e;
  --secundary: #e34981;
  --color-secundary: #03b898;
  --gray-1: #f8f9fa;
  --gray-2: #e9ecef;
  --gray-3: #868e96;
  --gray-4: #212529;
}

.home-index {
  background-color: var(--gray-4);
}
