@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap");
:root {
  --font-family: "Nunito", sans-serif;
  --font-weight-1: 800;
  --font-weight-2: 700;
  --font-weight-3: 600;
  --font-weight-4: 500;
  --font-weight-5: 400;

  --primary: #fd377e;
  --secundary: #e34981;
  --color-secundary: #03b898;

  --white: #ffffff;
  --gray-1: #f8f9fa;
  --gray-2: #e9ecef;
  --gray-3: #868e96;
  --gray-4: #212529;
}

.home-index {
  font-family: var(--font-family);
  width: 100vw;
  height: 100vh;
  background-color: var(--gray-4);
}

.container {
  max-width: 62.5rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.div-information {
  width: 21.688rem;
  margin-top: 13.375rem;
  color: var(--white);
}

.div-information > h1 {
  font-weight: var(--font-weight-1);
  font-size: 2.375rem;
}

.div-information > span {
  font-weight: var(--font-weight-5);
  font-size: 1rem;
  display: block;
  margin-bottom: 1.75rem;
}

.logotype {
  margin-left: 3rem;
  margin-top: 5.875rem;
  height: 31.25rem;
}
